<?xml version="1.0" encoding="UTF-8" ?>
<Configuration strict="true">
    <Properties>
        <Property name="filename">file.log</Property>
    </Properties>
    
    <Appenders>
    
      <Appender type="File" name="SingleFileAppender" fileName="${filename}">
        <Layout type="PatternLayout">
          <Pattern>%d %p %C{1.} [%t] %m%n</Pattern>
        </Layout>
      </Appender>
      
      <RollingFile name="RollingFileAppender" fileName="rollingFile.log"
                 filePattern="$${date:yyyy-MM}/app-%d{yyyy-MM-dd-HH}-%i.log.gz">
        <PatternLayout>
          <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
        </PatternLayout>
        <Policies>
          <SizeBasedTriggeringPolicy size="10 MB"/>
        </Policies>
      </RollingFile>
      
    </Appenders>
    
    <Loggers>
      <Root level="info">
        <AppenderRef ref="RollingFileAppender"/>
      </Root>
    </Loggers>
</Configuration>